@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

html,
body {
    height: 100%;
    background: white;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: row;

    .current-date {
        flex-grow: 2;
        text-align: center;
    }

    div.arrow {
        display: flex;
        padding: 10px 0;
    }
}

main {
    height: calc(100% - 136px);

    #calendar {
        height: 100%;
    }

    #calendar .week {
        min-height: calc(100% / 6);
    }


    .week {
        // border: 2px solid pink;
        display: flex;

        .day,
        .day-name {
            border: 2px solid #f2f2f2;
            flex-grow: 1;
            flex-basis: 0;
            padding: 8px;
        }

        .day {
            border-right-width: 0;
            border-top-width: 0;
            margin: 10px 10px 0 0;
        }

        &.no-show {
            display: none;
        }
    }
}

button {
    border: 1px solid #cccccc;
    background-color: #f2f2f2;
}

#appointment-menu,
#event-info {
    width: 200px;
    position: absolute;
    z-index: 999;
    background: #f4f4f4;
    border: 2px solid #f0f0f0;
    padding: 8px;
    border-radius: 12px;
    display: none;

    h3 {
        margin-top: 0;
    }

    div.close-container {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 0;

        button {
            border: 0;

            i {
                font-size: 18px;
            }
        }
    }

    div.input-group {
        margin-bottom: 8px;
        
        label {
            font-weight: bold;
        }

        input,
        textarea {
            margin-top: 4px;
            width: 100%;
            box-sizing: border-box;
        }

        & > div {
            width: 100%;
        }

        input[type=time] {
            width: auto;
        }
    }
}

div.eventTime {
    font-weight: bold;
}