@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
html,
body {
  height: 100%;
  background: white;
  font-family: 'Roboto', sans-serif; }

header {
  display: flex;
  flex-direction: row; }
  header .current-date {
    flex-grow: 2;
    text-align: center; }
  header div.arrow {
    display: flex;
    padding: 10px 0; }

main {
  height: calc(100% - 136px); }
  main #calendar {
    height: 100%; }
  main #calendar .week {
    min-height: calc(100% / 6); }
  main .week {
    display: flex; }
    main .week .day,
    main .week .day-name {
      border: 2px solid #f2f2f2;
      flex-grow: 1;
      flex-basis: 0;
      padding: 8px; }
    main .week .day {
      border-right-width: 0;
      border-top-width: 0;
      margin: 10px 10px 0 0; }
    main .week.no-show {
      display: none; }

button {
  border: 1px solid #cccccc;
  background-color: #f2f2f2; }

#appointment-menu,
#event-info {
  width: 200px;
  position: absolute;
  z-index: 999;
  background: #f4f4f4;
  border: 2px solid #f0f0f0;
  padding: 8px;
  border-radius: 12px;
  display: none; }
  #appointment-menu h3,
  #event-info h3 {
    margin-top: 0; }
  #appointment-menu div.close-container,
  #event-info div.close-container {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0; }
    #appointment-menu div.close-container button,
    #event-info div.close-container button {
      border: 0; }
      #appointment-menu div.close-container button i,
      #event-info div.close-container button i {
        font-size: 18px; }
  #appointment-menu div.input-group,
  #event-info div.input-group {
    margin-bottom: 8px; }
    #appointment-menu div.input-group label,
    #event-info div.input-group label {
      font-weight: bold; }
    #appointment-menu div.input-group input,
    #appointment-menu div.input-group textarea,
    #event-info div.input-group input,
    #event-info div.input-group textarea {
      margin-top: 4px;
      width: 100%;
      box-sizing: border-box; }
    #appointment-menu div.input-group > div,
    #event-info div.input-group > div {
      width: 100%; }
    #appointment-menu div.input-group input[type=time],
    #event-info div.input-group input[type=time] {
      width: auto; }

div.eventTime {
  font-weight: bold; }
